---
layout: default
---

<!-- Início Home -->
<div id="top" class="hero" style="background: url('img/hero.jpg') no-repeat; background-size: cover;">
    <div class="hero-content">
        <div class="container-fluid">
            <div class="hero-content-inner">
                <h1>Empoderando Mulheres na Tecnologia</h1>
                <p></p>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">
            <h3>
                <i class="fa fa-envelope"></i> Receba nossa newsletter
            </h3>

            <!-- Begin MailChimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup">
            <form action="//anitas.us12.list-manage.com/subscribe/post?u=69872785bb6ec64baef5a7ce8&amp;id=fa66d987dc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                
            <div class="mc-field-group">
                <label for="mce-EMAIL">Email </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div class="mc-field-group">
                <label for="mce-FNAME">Nome </label>
                <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
            </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_69872785bb6ec64baef5a7ce8_fa66d987dc" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Cadastrar" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
            </div>
            <!--End mc_embed_signup-->
        </div>

    </div>
</div>
<!-- Final Home -->

<!-- Início Sobre -->
<div id="sobre" class="about">
    <div class="container-fluid">
        <h2 class="section-title">Sobre</h2>

        <div class="row">
            <div class="col-sm-6">
                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <i class="icon fa fa-group fa-2x"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4>O que é o Anitas?</h4>
                        <p>É um grupo de mulheres engajadas no empoderamento feminino na área de tecnologia e empreendedorismo, baseado na troca de experiências e conhecimentos.</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <i class="icon fa fa-laptop fa-2x"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4>O que queremos?</h4>
                        <p>Queremos que as mulheres se sintam confiantes, seguras e empoderadas para realizar tudo o que desejam, sendo reconhecidas por seus trabalhos. Se alguma mulher deseja aprender a programar, abrir seu próprio negócio, liderar uma equipe, ela pode! O Anitas espera ajudar as mulheres a colocar seus sonhos em prática. Com isso, desejamos contribuir para a igualdade de gênero nas oportunidades e nas escolhas profissionais. Queremos, também, motivar mulheres a serem mais comprometidas com suas escolhas e a serem mais solidárias, inspirando outras mulheres a partir de suas conquistas. Juntas somos mais fortes!</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <img src="img/about.jpg" alt="...">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <i class="icon fa fa-comment fa-2x"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4>O que fazemos?</h4>
                        <p>O Anitas é um espaço seguro para mulheres trocarem conhecimentos, experiências, dúvidas e ideias. Para isso, organizamos cursos, workshops, palestras e participamos de iniciativas que buscam, de alguma maneira, incluir as mulheres na área de tecnologia e/ou empreendedorismo. O objetivo é assumir um posicionamento mais ativo e transformador das nossas realidades.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                        <i class="icon fa fa-user fa-2x"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4>Pra quem é o Anitas?</h4>
                        <p>Mulheres que já trabalham com TI, sejam elas técnicas ou não.</p>
                        <p>Mulheres que querem trabalhar e/ou empreender na área de TI.</p>
                        <p>Mulheres que ainda não conhecem todas as possibilidades da TI.</p>
                    </div>
                </div>
            
                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <i class="icon fa fa-female fa-2x"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4>Por que só pra mulheres?</h4>
                        <p>Focamos nossas atividades exclusivamente para mulheres, para que tenhamos um ambinete seguro, para falar de nossas experiências, onde teremos certeza de que seremos ouvidas e respeitadas em nossas falas, sejam elas de capacitação ou relatos.</p>
                    </div>
                </div>
            </div>                
        </div>                            
    </div>
</div>
<!-- Final Sobre -->

<!-- Início Ações -->
<div id="acoes" class="treatments">
    <div class="container-fluid">
        <h2 class="section-title">Ações</h2>

        <div class="row">
            {% for acao in site.data.acoes %}
                <div class="col-sm-6 col-md-4">
                    <div class="icon-box">
                        <i class="icon fa fa-{{ acao.icon}} fa-2x"></i>
                        <h4>{{ acao.title }}</h4>
                        <p>{{ acao.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Final Ações -->

<!-- Início Quem Somos -->
<div id="quem-somos" class="team">
    <h2 class="section-title">Quem Somos</h2>
    <div id="team-carousel">
    {% for member in site.data.team %}
        <div class="expandable-box">
            <div class="expandable-box-top">
                <img src="{{ site.baseurl }}/img/{{ member.image }}" alt="{{ member.name }}">
                <h4>{{ member.name }}</h4>
                <p>{{ member.description }}</p>
            </div>

            <div class="expandable-box-bottom">
                <a style="color: white" href="mailto:{{ member.email }}">
                    <i class="fa fa-envelope"></i>
                    <small>{{member.email}}</small>
                </a>

                <a style="color: white" href="http://facebook.com/{{ member.facebook }}">
                    <i class="fa fa-facebook"></i>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<!-- Final Quem Somos -->

<!-- Início Agenda -->
<div id="agenda" class="agenda">
    <iframe src="https://www.google.com/calendar/embed?src=anitas.com.br_k0ttorgaft3f75dffmql4eep1s%40group.calendar.google.com&ctz=America/Sao_Paulo" style="border-width:0" width="100%" height="800" frameborder="0" scrolling="no"></iframe>
</div>
<!-- Final Agenda -->
