---
layout: default
---

<!-- Início Home -->
<div class="hero" style="background: url('img/hero.jpg') no-repeat; background-size: cover;">
    <div class="hero-content">
        <div class="container-fluid">
            <div class="hero-content-inner">
                <h1>Empreendedoras em Tecnologia</h1>
                <p></p>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">
            <h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Receba nossa newsletter</h3>
            <form action="https://getsimpleform.com/messages?form_api_token={{ site.api_token }}" method="post">
                <div class="form-field">
                    <input name="name" type="text" placeholder="Nome" required>
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Email" required>
                </div>
                <input type="submit" class="btn btn-default" value="Cadastrar">
            </form>
        </div>

    </div>
</div>
<!-- Final Home -->

<!-- Início Sobre -->
<div id="sobre" class="about">
    <div class="container-fluid">
        <h2 class="section-title">Sobre</h2>

        <div class="row">
            <div class="col-sm-6">
                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <i class="icon fa fa-group fa-2x"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4>O que é o Anitas?</h4>
                        <p>É um grupo de mulheres engajadas no empoderamento feminino na área de tecnologia e empreendedorismo através da troca de experiências e conhecimentos.</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <i class="icon fa fa-laptop fa-2x"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4>O que queremos?</h4>
                        <p>Queremos que as mulheres se sintam confiantes, seguras e empoderadas para realizar tudo o que desejam, sendo reconhecidas por seus trabalhos. Se a alguma mulher deseja aprender a programar, ela pode! Se alguma mulher deseja abrir seu próprio negócio, ela pode! Se alguma mulher deseja liderar uma equipe, ela pode! Nós podemos tudo isso! E o Anitas está aqui para ajudar as mulheres a colocar seus sonhos em prática. Com isso, esperamos contribuir para a igualdade de gênero nas oportunidades e nas escolhas profissionais.Queremos, também, inspirar mulheres a serem mais comprometidas com suas escolhas e a serem mais solidárias, inspirando outras mulheres a partir de suas conquistas. Juntas somos mais fortes!</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <i class="icon fa fa-female fa-2x"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4>Pra quem é o Anitas?</h4>
                        <p>Mulheres que já trabalham com TI, sejam elas técnicas ou não.</p>
                        <p>Mulheres que querem trabalhar e/ou empreender na área de TI.</p>
                        <p>Mulheres que ainda não conhecem todas as possibilidades da TI.</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <i class="icon fa fa-comment fa-2x"></i>
                        </div>
                    </div>

                    <div class="media-body">
                        <h4>O que fazemos?</h4>
                        <p>O Anitas é um espaço seguro para mulheres trocarem conhecimentos, experiências, dúvidas e ideias. Para isso, organizamos cursos, workshops, palestras e participamos de iniciativas que buscam, de alguma maneira, incluir as mulheres na área de tecnologia e/ou empreendedorismo. O objetivo é assumir um posicionamento mais ativo e transformador das nossas realidades.</p>
                    </div>
                </div>

                
            </div>
            <div class="col-sm-6">
                <img src="img/about.jpg" alt="...">
            </div>
        </div>
    </div>
</div>
<!-- Final Sobre -->

<!-- Início Ações -->
<div id="acoes" class="treatments">
    <div class="container-fluid">
        <h2 class="section-title">Ações</h2>

        <div class="row">
            {% for acao in site.data.acoes %}
                <div class="col-sm-6 col-md-4">
                    <div class="icon-box">
                        <i class="icon fa fa-{{ acao.icon}} fa-2x"></i>
                        <h4>{{ acao.title }}</h4>
                        <p>{{ acao.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Final Ações -->

<!-- Início Quem Somos -->
<div id="quem-somos" class="team">
    <h2 class="section-title">Quem Somos</h2>
    <div id="team-carousel">
    {% for member in site.data.team %}
        <div class="expandable-box">
            <div class="expandable-box-top">
                <img src="{{ site.baseurl }}/img/{{ member.image }}" alt="{{ member.name }}">
                <h4>{{ member.name }}</h4>
                <p>{{ member.description }}</p>
            </div>
            <div class="expandable-box-bottom">
                <span data-toggle="tooltip" data-placement="bottom" title="{{ member.email }}"><svg class="icon icon-envelope"><use xlink:href="#icon-envelope"></use></svg></span>
                <span data-toggle="tooltip" data-placement="bottom" title="{{ member.facebook }}"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></span>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<!-- Final Quem Somos -->

<!-- Start Map -->
<div id="agenda" class="agenda">
    <iframe src="https://www.google.com/calendar/embed?height=800&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=curtacircuitos.com.br_787fmkms4gh1pqvseuhmt9hnps%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=America%2FSao_Paulo" style="border-width:0" width="100%" height="800" frameborder="0" scrolling="no"></iframe>
</div>
<!-- End Map -->
