<!-- Start Footer -->
<footer class="main-footer">
    <div class="container-fluid">
        
    </small> 

        <h4>Veja também</h4>

        <h4>
            <a style="color: white" href="http://brasil.pyladies.com/">
                </i> |Pyladies|
            </a>
            <a style="color: white" href="http://marialab.com.br/">
                </i> MariaLab|
            </a>
            <a style="color: white" href="https://www.codegirl.com.br/">
                </i> CodeGirl|
            </a>
            <a style="color: white" href="http://www.technovationchallenge.org/brasil/">
                </i> Technovation|
            </a>
            <a style="color: white" href="http://mulheresnacomputacao.com/">
                </i> Mulheres na Computação|
            </a>
            <a style="color: white" href="http://girlswhocode.com/">
                </i> GirlsWhoCode|
            </a>
            <a style="color: white" href="https://www.madewithcode.com/">
                </i> MadeWithCode|
            </a>
            <a style="color: white" href="http://www.codecademy.com/pt">
                </i> Code Academy|
            </a>
            <a style="color: white" href="http://www.microsoftvirtualacademy.com/">
                </i> Cursos Microsoft|
            </a>
            <a style="color: white" href="https://www.ead.sebrae.com.br/?_ga=1.123703755.1956944372.1433283130">
                </i> EAD Sebrae|
            </a>
        </h4> 

         <small>
            <a style="color: white" href="mailto:contato@anitas.com.br?subject=Olá Anitas!">contato@anitas.com.br</a> | © 2015 Anitas - Todos os direitos reservados | Florianópolis/SC - Brasil
        </small> 

    </div>
</footer>
<!-- End Footer -->