<!-- Start Footer -->
<footer class="main-footer">
    <div class="container-fluid">
        
    </small> 

        <h2>Veja também</h2>

        <small>
            <a style="color: white" href="http://brasil.pyladies.com/">
                </i> |Pyladies|
            </a>
            <a style="color: white" href="http://marialab.com.br/">
                </i> MariaLab|
            </a>
            <a style="color: white" href="https://www.codegirl.com.br/">
                </i> CodeGirl|
            </a>
            <a style="color: white" href="http://www.technovationchallenge.org/brasil/">
                </i> Technovation|
            </a>
            <a style="color: white" href="http://girlswhocode.com/">
                </i> GirlsWhoCode|
            </a>
            <a style="color: white" href="https://www.madewithcode.com/">
                </i> MadeWithCode|
            </a>
        </small> 

         <small>
            <a style="color: white" href="mailto:contato@anitas.com.br">
            <a style="color: white" href=</i> contato@anitas.com.br | © 2015 Anitas - Todos os direitos reservados
            </a>
        </small> 

    </div>
</footer>
<!-- End Footer -->